body {
    margin: 0;
}

.override-input-component-by-hieulth {
    &:hover {
        border-color: #ff5500;
    }

    &:focus-within {
        border-color: #ff5500;
    }
}

.override-dropdown-component-by-hieulth {
    margin-right: '20px' !important;
}